# Auto detect text files and perform LF normalization
* text=auto
large_files/atr-surface.csv filter=lfs diff=lfs merge=lfs -text
large_files/graph_generating.ipynb filter=lfs diff=lfs merge=lfs -text
data/atr-surface.csv filter=lfs diff=lfs merge=lfs -text
src/graph_generating.ipynb filter=lfs diff=lfs merge=lfs -text
